.header{
    padding: 5px 20px;
    background: rgb(88, 11, 221);
  }
  
  .title{
    position:absolute;
    left:0;
    color: aliceblue;
    text-decoration: double;
    font-weight: bold;
    font-size: xx-large;
    
  }
  
  .login,.register{
    font-weight: bold;
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
  }
  
  .logout,.new-post{
    font-weight: bold;
    float: right;
    color: aliceblue;
    padding-top: 10px;
  }
  
  .logout:hover, .new-post:hover{
    color: aliceblue;
    text-decoration: none;
  }
